<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amoad.amoadandroidsdkdemo" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainActivity"
            android:label="AMoAd Android Sdk Demo" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FormActivity"
            android:label="SID入力" />
        <activity
            android:name=".DisplayActivity"
            android:label="Display AD" />
        <activity
            android:name=".InterstitialActivity"
            android:label="Interstitial AD" />
        <activity
            android:name=".ScreenActivity"
            android:label="Screen AD" />
        <activity
            android:name=".InfeedActivity"
            android:label="Infeed AD" />
        <activity
            android:name=".NativeHtmlActivity"
            android:label="NativeHtml AD" />
        <activity
            android:name=".InFeedAfioActivity"
            android:label="InFeed AfiO AD" />
        <activity
            android:name=".InterstitialAfioActivity"
            android:label="Interstitial AfiO AD" />
        <activity
            android:name=".NativeAppActivity"
            android:label="NativeApp AD" />
        <activity
            android:name=".ListViewActivity"
            android:label="ListView AD" />

        <activity android:name="com.amoad.AMoAdInterstitialVideoActivity" />
    </application>

</manifest>